<div class="w3-container" ng-controller="NewController as new">
  <h1 style="
    color: teal;
    font-weight: bold;
">Cadastre sua sabedoria presepeira.</h1>
  <div class="w3-card-4" style="width:70%; margin: 30px;">
    <div class="w3-container" ng-show="!new.showLoading">    
  <h2 class="w3-text-teal">Nova Sabedoria</h2>
  <h4>{{new.message}}</h4>
  <p>
  <input class="w3-input w3-border" name="wisdom" type="text" ng-model="new.wisdom"></p>
  <p>
  <button class="w3-btn w3-teal" ng-click="new.postSabedria()">Enviar Sabedoria</button></p>
  </div>
  <div ng-show="new.showLoading" style="margin-left: 20px; margin-right: 20px;">
      <img src="/img/loading.gif" width="10%" style="margin-top: 20px; margin-bottom: 20px;">
      <p>Aguarde... Buscando a sua sabedoria neste imenso banco de dados que é o Presepeiro...</p>
    </div>
</div>
   <p><a href="/#/random" class="w3-btn w3-round-large w3-large w3-ripple w3-teal" style="margin: 1%;">Buscar minha sabedoria!</a><a href="/#/list" class="w3-btn w3-round-large w3-large w3-ripple w3-teal">Ver todas</a> 