<div class="w3-container" ng-controller="MainController as ctrl">
  <h1 style="
    color: teal;
    font-weight: bold;
">Pegue aqui o seu minuto de Sabedoria Presepeira</h1>
  <div class="w3-card-4" style="width:70%; margin: 30px;">
    <div ng-show="ctrl.showLoading" style="margin-left: 20px; margin-right: 20px;">
    	<img src="/img/loading.gif" width="10%" style="margin-top: 20px; margin-bottom: 20px;">
    	<p>Aguarde... Buscando a sua sabedoria neste imenso banco de dados que é o Presepeiro...</p>
    </div>
    <div class="w3-container">
      <h2><b><i>{{sabedoria}}</i></b></h2>
    </div>
  </div>
  <p><button class="w3-btn w3-round-large w3-xxlarge w3-ripple w3-teal" style="margin: 30px" ng-click="ctrl.getSabedoria()">Mais sabedoria!</button></p>
  <p><a href="/#/new" class="w3-btn w3-round-large w3-medium w3-ripple w3-teal">Nova</a> <a href="/#/list" class="w3-btn w3-round-large w3-medium w3-ripple w3-teal">Todas</a></p>
</div>